<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Gym Login
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col col-8 offset-2>
      <ion-item no-lines text-center>
        <img src="assets/imgs/logo_black.png">
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-item>
    <ion-input placeholder="Email" [(ngModel)]='email' type="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Password" [(ngModel)]='password' type="password"></ion-input>
  </ion-item>
  <ion-item *ngIf="error && !invalidCredentials">
  </ion-item>
  <p text-center class="danger">{{ error }}</p>
  <p text-center class="danger " *ngIf="invalidCredentials ">Invalid Password!</p>
  <ion-item no-lines class="submit ">
    <button ion-button large block (click)="sendLoginRequest() ">Submit</button>
  </ion-item>
</ion-content>
