<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h4 text-center>Welcome Back, {{name}}!</h4>

  <h6 text-center>Your Weight History</h6>
  <div id="bar"></div>
  <div *ngIf="showGraph; else noData">

  </div>
  <ng-template #noData>
    <div *ngIf="hasToken; else noToken">
      <p class="graph-standin" text-center>
        <em>It looks like you haven't entered any weight data yet!</em>
        <br>
        <em>Once you start tracking your weigh-ins, your progress will be charted here. </em>
      </p>
    </div>
    <ng-template #noToken>
      <p class="graph-standin" text-center>
        You aren't logged in!
        <br> To see this graph and to enter your weight, log in:
      </p>
      <button ion-button block (click)="goToLogin()">Log In</button>
    </ng-template>
  </ng-template>
  <h4 text-center>Enter Your Current Weight</h4>
  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <ion-item>
            <ion-label floating>Weight</ion-label>
            <ion-input [(ngModel)]="weight" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col col-12>
          <ion-item no-lines>
            <ion-segment [(ngModel)]="unit" color="primary" (ionChange)="unitChanged()">
              <ion-segment-button value="lb">
                Lbs
              </ion-segment-button>
              <ion-segment-button value="kg">
                Kgs
              </ion-segment-button>
            </ion-segment>
          </ion-item>
        </ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col col-12>
          <ion-item no-lines>
            <button ion-button large block (click)="submitWeightData()">Submit</button>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <ion-footer text-center>
    <button ion-button small (click)="logout()" color="danger" outline>Logout</button>
  </ion-footer>
</ion-content>
