page-user-select {
  h1 {
    font-size: 100px;
  }

  h2 {
    font-size: 60px !important;
  }

  button:focus {
    background-color: red;
  }

  ion-label:focus {
    border-bottom: solid 4px black
  }

  .button-inner {
    .icon {
      font-size: 80px
    }
  }
}
